body {
    // background: $coffee;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.pageRoute {
  position: absolute;
  z-index: 1;
}