body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.pageRoute {
  position: absolute;
  z-index: 1;
}

.iconContainer {
   margin: 0 $offsetVal/4 + px;

   svg {
       display: flex;
   }
}
.iconChipsContainer {
  margin: 0;
  display: inline-flex;
  transform: translateY(2px);

  svg {
    //display: flex;
  }
}
